@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fredoka:wght@300&display=swap');

body{
    font-family: 'Comfortaa', cursive;
    overflow: hidden;
    background: conic-gradient(from 90deg at 25% -10%, #ff4500, #d3f340, #7bee85, #afeeee, #7bee85) ;
}

.container{

    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: conic-gradient(from 90deg at 25% -10%, #ff4500, #d3f340, #7bee85, #afeeee, #7bee85);
}

.digitalClock{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    color: rgb(236, 213, 213) ;
}

.digitalClock h1{
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
    color:  #2d332d;
}

@media (max-width: 760px){
    #bar1,#bar2{
        display: none;    
    }
    .digitalClock{
        text-align: center;
        width: 100%;
    }

    .digitalClock h1{
        display: block;
    }
}

@media (max-width:480px){
    .digitalClock h1{
        font-size: 4rem;
    }
}